/*
*= require_self
*= require diadnoboot
*/


.backgroundmusic {
    background-image: asset_url('Blackwallmusic.png');
}

.blackwall {
    background-image: asset_url('blackwall2.jpg');
}

.fontstyle {
    font-family: 'usis_1949regular', 'fantasy';
    font-size: medium;
}

.fontright {
    text-align: right;
}

