<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your purchase, <%= @user.name %></h1>
    <p>
      username: <%= @user.email %>.<br>
    </p>
    <p>
     <%= @body %>
    </p>
    <p>
      To login to the site, just follow this link: https://deathisadialogue.com
    </p>
    <p>Hope to see you at a show. -DIAD</p>
  </body>
</html>
