<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for supporting, <%= @user.name %></h1>
    <p>
      Your account has been created for deathisadialogue.com,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Hope to see you at a show. -DIAD</p>
  </body>
</html>
