<html>
<body>
<div class="jumbotron jumbotron-sized">
  <div class="bg">
  </div>
  <div class="content">
  <h1>Coming Soon: Call of the Siren</h1>
  <p>Thats right folks, the boys have been working in a secret underground location on the new 11-song LP for what seems like forever.
  Promised to be their best work yet, physical distribution will be available from the official store and digital copies on Itunes this summer.</p>
  </div>
  <div id="video"></div>
</div>
<div class="jumbotron jumbotron-sized jumboalign">
  <div class="bg">
  </div>
  <div class="content">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/cifrbUkVrTk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="jumbotron jumbotron-sized jumboalign">
  <div class="bg">
  </div>
  <div class="content">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/KjCG0owbvFg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="jumbotron jumbotron-sized jumboalign">
  <div class="bg">
  </div>
  <div class="content">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/XqAmCIWBEr4" frameborder="0" allowfullscreen></iframe>
  </div>
</div>


<%= yield %>

</body>
</html>