<html>
<body>
<span class="fbridge-signup-form" data-widget-id="27519"></span>

<script type="text/javascript">
  (function() {
    var secure = ("https:" == document.location.protocol);
    var fb_js_host = (secure ? "https://widget-platform.fanbridge.com" : "https://widget-platform.fanbridge.com");
    window._FBRIDGE_WIDGETS_HOST = fb_js_host; var p, s, id = 'fbridge-widgetjssdk-v1';
    p = document.createElement('script'); p.id = id; p.type = 'text/javascript'; p.async = true;
    p.src = (secure ? "https://ssl.fbridgecdn.net" : "http://static.fbridgecdn.net") + '/js/fb/widget/v1/platform.js?_=' + ((new Date()).getTime());
    s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(p, s);
  })();
</script>


<div class="jumbotron jumbotron-sized">
  <div class="bg">
  </div>
  <div class="content">
  <h1>Coming Soon: A Soldier's Minute</h1>
  <p>Thats right folks, the boys have been working in a secret underground location on the new 11-song LP for what seems like forever.
  Promised to be their best work yet, physical distribution will be available from the official store and digital copies on Itunes this summer.</p>
  <p><a class="btn btn-primary btn-sm btn-sharp" href="https://widget-platform.fanbridge.com/widget/render/27519" role="button">Get Updates!</a></p>
  </div>
</div>
<%= yield %>

</body>
</html>